<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="<%= favicon %>" type="image/png" />    
    <title>Connexion Espace Clients</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/login?state=<%= state %>&TARGET=<%= service %>" method="POST">
        <img class="img" src="<%= logo %>" width=250/>
        <br/><br/>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Adresse Email" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de Passe</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required="" name="password">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <style>
      body {
        background: linear-gradient(to right, #006eff 100px, #006eff, #00afff);
      }
      .form-signin{
        margin-top: 130px;
        background-color: #fff;
        border-radius: 5px;
        padding: 35px 20px 35px 20px;
      }
    </style>
  </body>
</html>
